{% extends 'base.html' %}
{% load static %}




{% block content %}

    <div class="box box-content">
        <div class="pb-2">
            <div class="row">
               <div class="col-8 col-md-8 mx-auto">
                   <h2 class="title title--h3"> فرم تغییر پست </h2>
                    <form action="" method="post" enctype="multipart/form-data">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-md-12 order-1 order-md-2 text-left d-flex justify-content-center">
                                <button type="submit" class="btn"><i class="font-icon icon-edit-2"></i> تغییر پست</button>
                            </div>
                        </div>
                    </form>
               </div>
            </div>
        </div>
    </div>
    <footer class="footer">© 1403 متین طاهری</footer>
{% endblock %}



