{% load static %}


	   <div class="container gutter-top-100">
		    <!-- Header -->
		    <header class="header box">
			    <div class="header__left">
				    <div class="header__photo">
					    <img class="header__photo-img" src="{% static 'img/main-photo.svg' %}" alt="Ronald Robertson">
					</div>
					<div class="header__base-info">
					    <h4 class="title titl--h4">متین طاهری</h4>
						<div class="status">طراح سایت</div>
						<ul class="header__social">
						    <li><a href="https://www.github.com/"><i class="font-icon icon-github1"></i></a></li>
						    <li><a href="https://www.twitter.com/"><i class="font-icon icon-twitter1"></i></a></li>
							<li><a href="https://www.instagram.com/"><i class="font-icon icon-instagram1"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="header__right">
				    <ul class="header__contact">
					    <li><span class="overhead">ایمیل</span>Matin.35m@gmail.com</li>
						<li><span class="overhead">تلفن</span>09109876543</li>
					</ul>
					<ul class="header__contact">
					    <li><span class="overhead">تولد</span>3 مرداد 1386</li>
						<li><span class="overhead">مکان تولد</span>البرز ایران</li>
					</ul>
				</div>
			</header>